<style>
body{
  background-image: url("https://cdn-images-1.medium.com/max/2000/1*shGg78nae41MMRJesYdOCg.png");
}
.h1 {
  color: red;
  font-family: 'Lobster', cursive;
  top: 30%;
  bottom: auto;
  margin-left: 10%;
}
.h2 {
  color: white;
  font-family: 'Mali', cursive;  
  top: 30%;
  bottom: auto;
  margin-left: 10%;
}
.all{
  margin-left: 10%;
}
</style>

<nav>
      <a href="/reviews"><button class="btn btn-light">See all Reviews</button></a>
      <a href="/auth/logout"><button class="btn btn-danger">Logout</button></a>
      <a href="/reviews/<%=users._id%>/edit"><button class="btn btn-light">Edit Review</button></a>
      <a href="/users/<%=users._id%>/edit"><button class="btn btn-danger">Edit Name or Password</button></a>
      <form action="/users/<%=users._id%>?_method=DELETE" method="POST">
      <button class="btn btn-danger" type="submit">Delete Yourself</button> </form> 
</nav>