<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/_navbar %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 class='h1'>App NoseDive</h1>
    <h2>Welcome to Hell :)</h2>
    <a href="/auth/login"><button>Login</button></a>

</body>
</html>