<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="./partials/style.css" media="screen" />
<link href="https://fonts.googleapis.com/css?family=Lobster|Creepster|Mali" rel="stylesheet">
<% include ../partials/_navbar %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Review</title>
</head>
<body>
<h2>Change your review?</h2>

    <form action="/reviews/<%=review._id%>?_method=PUT" method="POST">
     <textarea placeholder="Good luck figuring out which review you're editing" name="text"> <%=review.text%> </textarea> </br>
        <button type="submit">Save Changes</button>
      </form>
</body>
</html>