<!DOCTYPE html>
<html>
<head>
  <title>Reviews</title>
</head>
<body>
<h2>Reviews</h2>
      <a href="/users/<%=user._id%>"><button>Home page</button></a><br>
      <a href="/auth/logout"><button>Logout</button></a>
  </header><!-- /header --> 
  <main>
    <h2>List of users to review..</h2>
    <ul>
      <% for (let i = 0; i < users.length; i++){%>
           <li><a href="/reviews/<%=users[i]._id%>"><%=users[i].username %></a></li>
      <%}%>    
    </ul>
</body>
</html>