<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./partials/style.css" media="screen" />
<link href="https://fonts.googleapis.com/css?family=Lobster|Creepster|Mali" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
  <title>Reviews</title>
</head>
<body>
<header>
<% include ../partials/_navbar %>

<h2 class = "h1">Reviews</h2>
      <a href="/users/<%=users._id%>"><button class="btn btn-danger">Home page</button></a><br>
      <a href="/reviews/new"><button class="btn btn-light">Drop a Review</button></a><br>
      <a href="/auth/logout"><button class="btn btn-danger">Logout</button></a>
  </header><!-- /header --> 
  <main>
    <h2 class="h1">List of users to review</h2>
    <ul>
      <% for (let i = 0; i < users.length; i++){%>
           <li><a href="/users/<%=users[i]._id%>"><%=users[i].username %></a></li>
      <%}%>   
      </ul> 

</body>
</html>