<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>New Review</h1>
  </header>
    <a href="/reviews/"><button>Back</button></a><br>
    <form action="/reviews" method="POST">
    <select name="subject">
    <%for (let i = 0; i < users.length; i++) { %>
       <option value="<%=users[i]._id%>"><%=users[i].username%></option>
       <%}%>
       </select> </br>
  <input type="number" placeholder = "1" min="1" max="5" name="rating"> </br>
     <textarea placeholder="Review User" name="text"></textarea> </br>
        <button type="submit">Submit User Review</button>
      </form>

</body>
</html>