<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>New Review</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="users/new">Create a new Review</a></li>
      </ul>
    </nav>
  </header>
</body>
</html>