<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1><%=users.username%>'s Profile</h1>
  </header>
      <a href="/reviews/"><button>Home</button></a><br>
      <a href="/users/<%=users._id%>"><button>Review User</button></a>
</body>
</html>