<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Reviews</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="users/show">Review User</a></li>
       <!-- <ul>
      <% for (let i = 0; i < users.length; i++){%>
           <li><a href="/users/<%=users[i].id%>"><%=users[i].name %></a></li>
      <%}%>
    </ul>
      </ul> -->
    </nav>
  </header>
  
</body>
</html>