<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Santa's Little Helpers</h1>
    <nav>
      <ul>
        <li><a href="/users/<%=users._id%>">Home</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <main>
    <h2>Users</h2>
    <ul>
<!--THEIR REVIEWS -->
<section>
<ul>
<% for (let i = 0; i < users.length; i++){%>
     <li><a href="/reviews/new"><%=users[i].username %></a></li>
<%}%>   
</ul> 

  </main>
</body>
</html>
