<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./partials/style.css" media="screen" />
<link href="https://fonts.googleapis.com/css?family=Lobster|Creepster|Mali" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <title>New Review</title>
</head>
<body>
  <header>
  <% include ../partials/_navbar %>
    <h1 class="h1">New Review</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <main>
    <ul>
<!--New REVIEW -->
<main>
<form action="/users" method="POST">
  <input type="text" name="name">
  <input type ="textarea">
  <button class="btn btn-light" type="submit">submit</button>
</form>
</main>
    </ul>

  </main>
</body>
</html>
