<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>New Review</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header><!-- /header -->
  <main>
    <ul>
<!--New REVIEW -->
<main>
<form action="/users" method="POST">
  <input type="text" name="name">
  <input type ="textarea">
  <button type="submit">submit</button>
</form>
</main>
    </ul>

  </main>
</body>
</html>
