<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Show Page for <%=users.name%></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>User Attributes</h2>
      <ul>
        <li>Name: <%=users.username%></li>
      </ul>
    </section>

    <section>
      <a href="/users/<%=users.id%>/edit">Edit</a>
    </section>

    <section>
      <form action="/users/<%=users.id%>?_method=DELETE" method="POST">
        <button type="submit">Delete User</button>
      </form>
    </section>
  </main>
</body>
</html>
