<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1><%=users.username%>'s Profile</h1>
  </header>
      <a href="/reviews"><button>Home</button></a><br>
      <form action="/users/<%=users._id%>" method="POST">
      <input type="textarea" name="text"><br/>
      <button type="submit">Submit Review</button>
      </form>
      
</body>
</html> 
