<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <header>
    <h1>Review Page for <%=users.username%></h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h2>User Attributes</h2>
      <ul>
        <li>Name: <%=users.username%></li>
      </ul>
    </section>

    <section>
      <form action="/users" method="POST">
<!-- drop down menu-->
<select name="users">
    <%for (let i = 0; i < users.length; i++) { %>
       <option value="<%=users[i]._id%>"><%=users[i].username%></option>
       <%}%>
       </select> </br>

     <textarea placeholder="Review User"></textarea> </br>
        <button type="submit">Submit User Review</button>
      </form>
    </section>
  </main>
</body>
</html>
