<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./partials/style.css" media="screen" />
<link href="https://fonts.googleapis.com/css?family=Lobster|Creepster|Mali" rel="stylesheet">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <title></title>
</head>
<body>

  <header>
  <% include ../partials/_navbar %>
    <h1 class="h1"><%=users.username%>'s Profile</h1>
  </header>
      <!--ALL YOUR REVIEWS -->
      <h1 class="h1">Reviews About You:</h1>
      <section>
      <% for (let i = 0; i < reviews.length; i++) { %>
          <p class ="h2"><%=reviews[i].text %></p>
      <%}%>
  </section>
 
</body>
</html>


